# Binaries
/terraform-provider-teltonika-rms
/dist/
*.exe

# Go
*.test
*.out
/vendor/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json

# Editors / OS
.DS_Store
